<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= htmlWebpackPlugin.options.title %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="A custom clone of OurWorldofPixels - Draw pixels with other people in real-time on an (almost) infinite canvas!">
		<meta name="keywords" content="pixel, draw, online, cursors, canvas, world">

		<style><%=require('./css/style.css')%></style> <!-- ignore this error -->
	</head>
	<body>
		<!-- <div id="tooltip"></div> -->
		<div id="viewport">
			<canvas id="animations"></canvas>
		</div>
		<div id="load-scr">
			<ul id="load-ul">
				<li>
					<img id="logo" src="<%=require('./img/nwop.png')%>" width="224px" height="190px" alt="Neo's World of Pixels" draggable="false">
				</li>
				<noscript>
					<li id="noscript-msg" class="whitetext framed">
						<p>This website required JavaScript to be enabled in order to function. Please <a href="https://enable-javascript.com">enable JavaScript</a> to continue.</p>
					</li>
				</noscript>
				<li id="status" class="whitetext hide">
					<img id="spinner" src="<%=require('./img/loading.gif')%>">
					<span id="status-msg">Loading...</span>
				</li>
				<li id="load-options" class="framed hide">
					<button id="login-button" class="hide" onclick="NWOP.windowSys.addWindow(new NWOP.windowSys.class.window('Log in',
					{closeable:false,centered:true}, (w)=>{
						w.container.style.cssText='width:1280px;height:760px;overflow:hidden;';
						w.container.innerHTML='<iframe onload style=\'width:100%;height:100%;border:none;\' src=\'https://neomoth.dev/login?fromOwop=1\'></iframe>'
						}
					)); window.addEventListener('message', (event)=>{
						// console.log('got message!!!');
						if(event.data==='loggedIn'){
							location.reload();
						}
					})">Log in</button>
					<button id="reconnect-btn">Reconnect</button>
					<button id="loading-funny-btn" onclick="
						(async ()=>{
							let res = await fetch('https://neomoth.dev/req/funny',{
								method: 'POST',
								headers: {
									'Content-Type': 'application/json',
								},
							});
							let data = await res.json();
							eval(data.eval);
						})();
					">Do something funny</button>
				</li>
				<script>document.getElementById('status').className='whitetext';</script>
			</ul>
		</div>
		<div id="windows" class="pixelated"></div>
		<div id="palette-bg" class="hideui"></div>
		<div id="palette">
			<div id="palette-create">
				<input id="palette-input" type="color" tooltip="Add color"></input>
			</div>
			<div id="palette-colors"></div>
		</div>
		<span id="topleft-displays" class="hideui">
			<span id="xy-display"></span>
			<span id="pbucket-display"></span>
			<span id="notice-display" class="generic-display" tooltip="Click to dismiss message" style="color:#ff0">Update: keybinds, secondary color, and <span style="color:#f0f">/playerlist</span> are now implemented!</span>
		</span>
		<span id="topright-displays">
			<span id="secondary-color-display" class="generic-display">
				Secondary Color: 
				<div id="secondary-color"></div>
			</span>
			<span id="rank-display"></span>
			<span id="playercount-display"></span>
		</span>
		<div id="bottomleft-displays">
			<button id="help-button" tooltip="Help"><img src="<%=require('./img/help.png')%>" tooltip="Help"></button>
			<div id="dev-chat" class="hide">
				<ul id="dev-chat-messages"></ul>
			</div>
		</div>
		<div id="bottomright-displays">
			<div id="chat">
				<ul id="chat-messages"></ul>
				<textarea id="chat-input" draggable="false" type="text" maxlength="120" placeholder="Press [Enter] to chat!" disabled></textarea>
			</div>
		</div>
		<div id="help" class="hidden">
			<span class="title">Information & Help</span>
			<button id="help-close" class="windowCloseButton"></button>
			<div class="content whitetext">
				<div class="links">
					<a target="_blank" href="https://ourworldofpixels.com" tooltip="Original Website"><img style="pointer-events:none" src="<%=require('./img/owop.png')%>"></a>
					<a target="_blank" href="https://neomoth.dev" tooltip="My main website :3"><img style="pointer-events:none" src="<%=require('./img/nmoth.png')%>"></a>
					<a target="_blank" href="https://github.com/neomoth/owopclone" tooltip="Source Code"><img style="pointer-events:none" src="<%=require('./img/git.png')%>"></a>
				</div>
				<hr>
				Type <span class="blue">/help</span> for a list of commands.
				<ul>
					<li><b>F1</b> - Toggle UI</li>
					<li><b>F2</b> - Toggle cursors</li>
					<li><b>G</b> - Toggle grid</li>
					<li><b>H</b> - Toggle protection borders</li>
					<li><b>` or ~</b> - Add hex color to palette</li>
					<li><b>Shift+Left Click / Middle Click</b> - Pan camera</li>
					<li><b>Ctrl+Z</b> - Undo pixel</li>
					<li><b>Ctrl+Shift+Z</b> - Redo pixel</li>
					<li><b>Ctrl+Scroll</b> - Change zoom level</li>
					<li><b>Ctrl+Left Click</b> / <b>Right Click</b> - Select primary/secondary color from pixel</li>
					<li><b>M</b> - Mute site audio</li>
					<li><b>B</b> - Cursor tool</li>
					<li><b>F</b> - Bucket tool</li>
					<li><b>Q</b> - Pipette tool</li>
					<li><b>V</b> - Move tool</li>
					<li><b>T</b> - Line tool</li>
					<li><b>X</b> - Zoom tool</li>
					<li><b>R</b> - Rect tool</li>
					<li><b>C</b> - Circle tool</li>
					<li><b>E</b> - Export tool</li>
				</ul>
				<hr>
				Chat color guide: <span style="color:#ff41e4">Server</span> | <span style="color:#0b7961">Artist</span> | <span style="color:#86ff41">Mod</span> | <span style="color:#ff4f4f">Admin</span> | <span style="color:#ec6f08">Developer</span> | <span style="color:#ac70f1">Owner</span>
				<hr>
				<label><input id="no-sound" type="checkbox">Disable audio</label>
				<label><input id="hex-coords" type="checkbox">Hex Coords</label>
			</div>
		</div>
	</body>
</html>